.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1; /* ensure backdrop is behind the modal */
  display: none; /* initially hidden */
}

.modal {
  background-color: #a0deff;
  padding: 2rem;
  border-radius: 15px;
  border: solid 1px black;
  width: 100%;
  display: none;

  .x-container {
    display: flex;
    justify-content: flex-end;

    .fa-x {
      cursor: pointer;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  input,
  textarea {
    padding: 10px;
    font-size: 18px;
  }
  textarea {
    resize: none;
    height: 20vh;
  }
}

button {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 25rem;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }
}
